<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Eden</title>
	{{!-- Icon --}}
	<link rel="icon" type="image/png" href="/images/logo.PNG">
	{{!-- Bootstrap --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	{{!-- FullCalendar.io CSS --}}
	<link rel="stylesheet" href="/styles/fullcalendar.css">
	{{!-- Custom Stylesheet --}}
	<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
	{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<!-- Moment.js -->
	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
	{{!-- Fullcalendar.io JS--}}
	<script type="text/javascript" src="/js/fullcalendar.js"></script>
	{{!-- Custom Fullcalendar.io Javascript --}}
	<script type="text/javascript" src="/js/eventcalendar.js"></script>
	{{!-- Mygarden.js --}}
	<script type="text/javascript" src="/js/mygarden.js"></script>
</head>

<body>

	{{{body}}}

	<footer class="footer">
        <div class="container">
            <span class="text-muted">EDEN @ 2019</span>
        </div>
    </footer>
</body>

</html>