<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/"><img src="/images/logo.PNG" alt="HTML5 Icon" style="width:75px;height:75px;"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/"><span class="white-link">Home</span><span class="sr-only">(current)</span></a>
			</li>
		</ul>

		<div>
			<a class="btn btn-lg" href="/signin" role="button">Sign In</a>
			<a class="btn btn-lg" href="/signup" role="button">Sign Up</a>
		</div>

	</div>
</nav>
<div class="jumbotron">

	<h1 class="display-4"><span class="logo-font">Eden</span></h1>
	<p class="lead">Never let your plants go thirsty again.</p>
	<hr class="my-4">
	<p>Our database gives you access to in-depth knowledge on every plant in your plot–whether 
		that means a massive acreage or merely a windowsill in your apartment.
		From light and water needs to soil preference and propogation methods, we provide 
		all the information you need to keep your plants happy and healthy. So signup, create
		a care schedule for each of your plants, and let's get growing.</p>
		
</div>