.list-group-item {
  line-height: 2.5;
}

caption {
  caption-side: top;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal {
  width: 80%;
  opacity: 1;
  background-color: white;
  margin: auto;
  overflow: auto;
  text-align: center
}

.plantImg {
  height: 300 px;
}