/* Base Styles */
html,
body {
    background-image: url("../images/prism.png");
    font-family: "Open Sans", sans-serif;
}

/* Logo Font */
.logo-font {
  font-family: "Yellowtail", sans-serif;
  font-size: 64px;
  font-weight: bolder;
}

/* Index Page Jumbotron */
.jumbotron {
  background-image: url("../images/prism.png");
  color: white;
}

/* Navbar */
.navbar {
  background-image: url("../images/prism.png");
  color: white;
}

.white-link {
  color: white;
}

/* Content Section */
.content-row {
  margin-bottom: 40px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Authorization */
.auth-panel {
  margin-top: 150px;
  color: white;
}

/* Buttons */
.btn {
  background-color: #78B70C;
  color: white;
  margin-bottom: 10px;
}

/* Calendar */
#calendar {
  background-color: rgb(158, 171, 137);
  margin-top: 15px;
  padding: 10px;
}

/* Date Modal */
/* .dateModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 500px; 
  height: 500px; 
  overflow: auto; 
} */

/* Date Selection */
.form-choice {
  margin-right: 8px;
  margin-bottom: 10px;
}

.form-check-lable {
  padding: 2px;
}

/* Panel Headers */
.panel-header {
  background-color: #78B70C;
}

/* Add Plant */
.add-plant-div {
  width: 100%;
  background-color: rgb(158, 171, 137);
}

.add-plant-form {
  border: none;
}

#addAPlant {
  padding: 10px;
  margin-bottom: 10px;
}

/* Your Plants */
#plantsDiv {
  height: 660px;
  overflow: scroll;
}

.your-plants-table {
  background-color: rgb(158, 171, 137);
}

.list-group-item {
  line-height: 2.5;
}

/* Plant View */
.plant-container {
  color: white;
}

#deletePlant {
  margin-top: 10px;
}

.plant-info-table {
  margin-bottom: 40px;
  background-color: rgb(158, 171, 137);
}

caption {
  caption-side: top;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal {
  width: 80%;
  opacity: 1;
  background-color: white;
  margin: auto;
  overflow: auto;
  text-align: center
}

.plantImg {
  height: 300 px;
}